div{
    display: flex;
}
.content-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.fare-search{
    display: flex;
    flex: 50%;
    flex-grow: 0;
    flex-direction: column;
}

.mat-content{
    flex-direction: row;
    flex: 100;
    display: flex;
    margin-top: 5px;
}

.flight-holder{
    justify-content: space-around;
    flex-flow: wrap;
}
.mat-header{
    display: flex;
    flex-direction: row;
    flex: 100%;

}
.submit{
    height: 30px;
    flex: 20;
    flex-direction: column;
    display: flex;
}
.search{
    display: flex;
    flex-direction: column;
    flex:40;

}
.container{
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex: 100%;
}

.navigation{
    justify-content: space-between;
}
mat-card-footer{
    padding:20px;
}
.price-holder{
    display: flex;
    flex-direction: row;
    flex:100;
    text-align: center;
}
.price-holder > h3{
    text-align: center;
    width: 100%;
}
.loader{
    height: 350px;
    justify-content: center;
    align-items: center;
}
.airport{
    flex-direction: column;
    text-align: center;
    padding:20px;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #673ab7;
    border-color: #673ab7 transparent #673ab7 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  