<div class='content-container'>
<mat-card class='fare-search' *ngIf='state===1'> 

        <mat-card-title class='mat-header'>Ready for your next destination?</mat-card-title>
     
        <mat-card-content class='mat-content'>
                <app-search-bar (airportChange)="changeFrom($event)" [textLabel]="'From where do you want to fly?'" class='search'></app-search-bar>
                <app-search-bar (airportChange)="changeDestination($event)" [textLabel]="'What is your destination?'" class='search'></app-search-bar>
                <button mat-raised-button (click)='submit()' color="primary">Check Fares!</button>
        </mat-card-content>
        
</mat-card>
<mat-card class='fare-search' *ngIf='state===2'>
        <div class='loader'  *ngIf='!selectedFare'>
                        <div class="lds-dual-ring"></div>
                        </div>
                        <div *ngIf="selectedFare" style='flex-direction: column;'>  
                <mat-card-title class='mat-header'>We have found the best matching price for you!</mat-card-title>
                <mat-divider style='position: relative;'></mat-divider>
                <mat-card-content class='mat-content flight-holder'>
                <div class='container'>
                        <div class='airport from'>
                <h2>Leaving from {{fromAirport.name}} ({{fromAirport.code}})</h2>
                <div>
                        {{fromAirport.description}}
                </div>
                        </div>
                <div class='airport to'>
                <h2>Flying to {{destinationAirport.name}} ({{destinationAirport.code}})</h2>
                        <div>
                                {{destinationAirport.description}}
                        </div>
                </div>
        </div>
                <div class='price-holder'>
                       <h3> For a total of {{selectedFare.amount}} {{selectedFare.currency}} </h3>
                </div>
                </mat-card-content>
                <mat-card-footer>
                       <div class='navigation'>
                                <button mat-raised-button (click)='back()' color="accent">Back</button>
                                <button mat-raised-button color="primary">Lets take off!</button>
                       </div>
                </mat-card-footer>
        </div>
        </mat-card>

</div>